body {
    font-family: 'Lilita One', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #aaa;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 15px 0;
    position: sticky;
    top: 0;
    background-color: #35424a;
}

nav a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
